nav {
    background-color: transparent;
}

.navbar-fixed {
    height: 0!important;
}

.brand-logo{
    font-family:'Road Rage';
    text-shadow : 2px 2px 1px rgb(255, 196, 0);
}

.flow-text {
    font-family: 'Road Rage';
}

h3 {
    font-family: 'Road Rage';
    padding-top: 60px;
    margin-top: 0px;
    text-shadow : 2px 2px 1px rgb(255, 196, 0,);
}

.waves-effect.waves-teal {
    background-color: rgb(255, 196, 0);
}

footer {
    position: fixed-bottom;
}

.cod img {
    max-width: 70px;
    max-height: 100px;
    position: relative;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

.mandiri img {
    max-width: 70px;
    max-height: 100px;
    position: relative;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}


.bni img {
    max-width: 70px;
    max-height: 100px;
    position: relative;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}


@media (min-width: 992px){
.nav {
    background-color: transparent;
}

.brand-logo {
    font-family:'Road Rage';
    margin-left: 10%;
}

.slider h3,
.slider h5,
.clients h3 {
    text-shadow : 2px 2px 5px rgba(0,0,0,1);
}

.section {
    background-color:#bdbdbd;
}

.parallax-container {
    height:40% ;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.8 !important;
}

.clients img {
    max-width: 300px;
    position: center;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

}

@media (min-width: 320px){

    nav {
        background-color: none;
    }

    nav ul a {
        padding: 0 8px;
    }
    
    nav .brand-logo {
        font-family:'Road Rage';
        font-size:35px;
        left: 105px;
    }
    
    }


@media (min-width :425px){
    nav ul a {
        padding: 0 10px;
    }

    nav .brand-logo {
        font-size: 35px;
        left: 110px;
    }
}

@media (min-width : 1024px){
    nav ul a {
        padding : 0 15px
    }

    nav .brand-logo {
        font-size: 50px;
        left:-45px;
    }
}