nav {
    background-color: transparent;
}

.brand-logo{
    font-family:'Road Rage';
    text-shadow : 2px 2px 1px rgb(255, 196, 0);
}

.navbar-fixed {
    height: 0 !important;
}

.jumbotron {
    background-image: url(../img/slider/bg2.jpg);
    background-size:small;
    height: auto;
}

h2 {
    font-family: 'Road Rage';
    padding-top: 60px;
    margin-top: 0px;
    text-shadow : 2px 2px 1px rgb(0, 0, 0);
}

p {
    font-family: 'Road Rage';
    margin: 1 0 2px;
}

footer {
    position: fixed-bottom;
}

.cod img {
    max-width: 70px;
    max-height: 100px;
    position: relative;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

.mandiri img {
    max-width: 70px;
    max-height: 100px;
    position: relative;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}


.bni img {
    max-width: 70px;
    max-height: 100px;
    position: relative;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

.flow-text{
    font-family:'Road Rage';
    text-shadow : 2px 2px 1px rgb(75, 75, 75);
}


@media (min-width: 992px){
.brand-logo {
    margin-left: 10%;
}

}

@media (min-width: 320px){
    nav ul a {
        padding: 0 8px;
    }
    
    nav .brand-logo {
        font-size:35px;
        left: 105px;
    }

    .sidenav {
        width: 200px;
    }
    
    }


@media (min-width :425px){
    nav ul a {
        padding: 0 10px;
    }

    nav .brand-logo {
        font-size: 35px;
        left: 110px;
    }

    .sidenav {
        width: 250px;
    }
}

@media (min-width :768px){
    .sidenav {
        width: 350px;
    }
}

@media (min-width : 1024px){
    nav ul a {
        padding : 0 15px
    }

    nav .brand-logo {
        font-size: 50px;
        left:-45px;
    }

}